<div class="wrapper">
    <md-content>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button ng-repeat="item in portfolio.categories" ng-click="portfolio.getCategoryItems(item)">{{item.name}}</md-button>
        </section>
        <md-card>
            <md-card-header>
                <md-card-avatar>
                    <img class="md-user-avatar"><img/>
                    <md-icon class="material-icon">folder_open</md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-headline">{{portfolio.category}}</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <div flex-xs layout-gt-md="row">
                    <md-card ng-repeat="item in portfolio.items">
                        <img ng-src="{{item.image}}" class="md-card-image" alt="Washed Out">
                        <md-card-title>
                            <md-card-title-text>
                            <span class="md-headline">{{item.title}}</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <p>{{item.description}}</p>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button class="md-raised md-primary" href="{{item.link}}">Visit Page</md-button>
                        </md-card-actions>
                    </md-card>
                </div>
            </md-card-content>
        </md-card>
    </md-content>
</div>