.img-circle {
    display: block;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 20px auto;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .img-circle {
        width: 100px;
        height: 100px;
        margin: 20px auto;
    }
}

.profile-image {
    background: #00897b;
    background-size: cover;
}

.contact {
    background: teal;
    width: 100%;
    color: white;
}

.badge {
    width: 10px;
    height: 10px;
    margin-left: -5px;
    margin-top:20px;
}