.img-circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 20px auto;
}

.profile-image {
    background: #00897b;
}

.contact {
    background: teal;
    width: 100%;
    color: white;
}

.badge {
    width: 10px;
    height: 10px;
    margin-left: -5px;
    margin-top:20px;
}