.wrapper {
    margin: 10px auto;
    width: 60%;
}

.img-circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 20px auto;
}

.profile-image {
    background: #00897b;
}

.contact {
    background: teal;
    width: 100%;
    color: white;
}

.capitalize {    
    text-transform: capitalize;
}

.lowercase {    
    text-transform: lowercase;
}

.white {
    color: white;
}

.black {
    color: black;
}

.badge {
    width: 10px;
    height: 10px;
    margin-left: -5px;
    margin-top:20px;
}

.timeline-hidden {
    visibility: hidden;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .wrapper {
        width: 95%;
    }
}